body{
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: black;
}

#title{
    color: rgb(251, 213, 144);
    font-family : 'Franklin Gothic Medium', Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
    font-size: 5vw;
    text-transform: uppercase;
}

#subheading{
    color: rgb(241, 179, 63);
    text-align: center;
    font-size: 2vw;
    margin-top: -15px;
    font-family : 'Franklin Gothic Medium', Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-transform: capitalize;
}

#description{
    color: rgb(251, 213, 144);
    text-align: center;
    font-size: 1.3vw;
    font-family : 'Franklin Gothic Medium', Cochin, Georgia, Times, 'Times New Roman', serif ;
    height: 3vw;
}

#comeOnIn{
    background-color: rgb(241, 179, 63);
    color: #1a0800;
    font-weight: bold;
    font-size: 1.3vw;
    padding: 16px 32px;
    border-radius: 12px;
    font-family : 'Franklin Gothic Medium', Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
}
.container1{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 12vw;
    margin-left: 20vw ;
    margin-right: 20vw;
    height: 37vw;
    

}
.container2{
    display: inline-block;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start;
    position: absolute;
    bottom: 20vw;
}

#loginForm, #signupForm {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 12px;              /* space between inputs */
  padding: 2rem;         
  max-width: 360px;
  margin: 0 auto;
  margin-top: 35vh;
}

#loginForm input, #signupForm input {
  width: 100%;           
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(246, 219, 164);
  font-size: 16px;
  font-weight: bold;
}

#loginForm button, #signupForm button { 
  width: 100%;
  padding: 13px;
  background: rgb(241, 179, 63);
  color: #1a0800;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

/* changes i cant currently do:
-Change button to say lets gooo in loginsignup.html
-the entry quiz should go on in a seperate html file, so the login can show after the quiz is done 
    - the landing page button should go to the quiz html file first, then after the quiz that should take you to the login page
- after loging in the button should take you to the openforum.html files


*/

